.title {
	font-size: 36px;
	margin-bottom: 10px;
}

.subtitle {
	margin-bottom: 30px;

	code {
		color: #4048FF;
		font-weight: 700;
	}
}

.importantLink {
	font-weight: 700;
	color: #4048FF;
	text-decoration: underline;
}